.description {
  text-align: center;
  margin-top: 3em;
}

.description > p {
  margin: 0.5em 0;
}

.description > p:first-child {
  margin: 1em 0;
  font-weight: bold;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.table-wrapper > table {
  margin: auto;
}
