@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;

  margin: 1em;
}

.menu > ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.home-screen {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.home-screen > div {
  margin: auto;
}

.home-screen > div > p {
  text-align: center;
  margin: 1em 0;
}

.home-screen > div > p:first-child {
  font-weight: bold;
}

.current-page {
  text-decoration: underline;
  font-weight: bold;
}
